.tool {
  & button {
    display: flex;
    align-items: center;

    & ion-icon {
      margin-right: 5px;
    }
  }

  button.sort ion-icon {
    margin-right: 0;
  }
}

.coin-code {
  font-weight: 700;
}

.coin-name {
  font-size: 14px;
  color: #8699b8;
}

.coin-avatar {
  margin-right: 6px;
}
