.tool {
  & button {
    display: flex;
    align-items: center;
    background-color: rgb(50, 53, 70);

    & ion-icon {
      margin-right: 5px;
    }
  }

  button.sort ion-icon {
    margin-right: 0;
  }
}

.coin-code {
  font-weight: 700;
  text-align: left;
}

.coin-name {
  font-size: 14px;
  color: #8699b8;
  text-align: left;
}

.coin-avatar {
  margin-right: 10px;
}

.table-dark {
  border-radius: 8px;
  overflow: hidden;
  text-align: right;

  & th:first-child {
    text-align: center;
  }

  & th:nth-child(2) {
    text-align: left;
  }

  & .m-absolute {
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
    width: 5em;
    left: -50px;
    // top: auto;
    border-top-width: 1px;
    /*only relevant for first row*/
    margin-top: -1px;
    /*compensate for top border*/
  }

  .pagination {
    display: flex;
    justify-content: space-between;
  }

  .form-select {
    width: fit-content;
    background: #20232d;
    color: #fff;
    border: #20232d;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    padding: 0 15px;
    cursor: pointer;
  }
}
