.tool {
  & button {
    display: flex;
    align-items: center;
    background-color: rgb(50, 53, 70);

    & ion-icon {
      margin-right: 5px;
    }
  }

  button.sort ion-icon {
    margin-right: 0;
  }
}

.coin-code {
  font-weight: 700;
  text-align: left;
}

.coin-name {
  font-size: 14px;
  color: #8699b8;
  text-align: left;
}

.coin-avatar {
  margin-right: 10px;
}

.table-dark {
  border-radius: 8px;
  overflow: hidden;
  text-align: right;

  & th:first-child {
    text-align: center;
  }

  & .m-absolute {
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
    width: 5em;
    left: -50px;
    // top: auto;
    border-top-width: 1px;
    /*only relevant for first row*/
    margin-top: -1px;
    /*compensate for top border*/
  }

  .pagination {
    display: flex;
    justify-content: space-between;
  }

  .form-select {
    width: fit-content;
    background: #20232d;
    color: #fff;
    border: #20232d;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    padding: 0 15px;
    cursor: pointer;
  }
}

.table-wrap {
  width: 100%;
  overflow-x: scroll;

  & th,
  td {
    white-space: nowrap;
  }

  .stt {
    width: max-content;
    text-align: center;
    margin-right: 20px;
    border-right: 1px solid #4b4b4b;
    height: 100%;
    padding: 0 18px 0 10px;
  }
}

.search-box {
  background-color: #323546;
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 2px;
  padding-left: 10px;
  // height: max-content;

  & input {
    background: transparent;
    color: #efefef;
  }

  & input::placeholder {
    color: #efefef;
  }

  & .form-control:focus {
    background: transparent;
    box-shadow: unset;
    border: none;
    color: #efefef;
  }

  & ion-icon {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .stt {
    display: none;
  }

  .CryptoLive {
    padding: 0;
  }

  .tool {
    justify-content: start !important;
  }

  .tool button {
    font-size: 0;
    text-align: center;
  }

  .tool {
    position: sticky;
    height: max-content;
    left: -1px;

    & button {
      font-size: 0;

      & ion-icon {
        margin-right: 0;
        font-size: 20px;
        padding: 5px 10px;
      }
    }
  }
}
